@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.mainNav {
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 3.5rem;
	display: grid;
	grid-template-columns: 2rem 0.2fr 1fr 2fr 2rem;
	/* box-shadow: rgba(50, 50, 93) 0px 20px 1px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
	border-bottom: 1.6px solid rgb(234, 231, 231);
}
.logo {
	display: grid;
	/* background-color: #3b5998; */
	grid-column: 2/3;
	justify-content: start;
	align-items: center;
}
  
.menuLink {
	grid-column: 3/4;
	color: black;
}

.menuLink ul li a {
	color: black;
}
.menuLink ul li a span {
	color: #ff764d;
}
.menuLink ul {
	
	height: 3.9rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.second {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	grid-column: 3/4;
	color: black;
	display: grid;
	margin-left: 21px;
	grid-template-columns: 10rem 1fr 1fr 1fr 2rem;
	/* width: 50%;
	grid-column: 2/3;
	justify-content: space-around;
	display: grid;
	background-color: #363636;
	grid-template-columns: 2rem 0.2fr 1fr 2fr; */
}
.second ul li a {
	color: black;
}
.second ul li a span {
	color: #ff764d;
}
.second ul {
	
	height: 3.9rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/* .links {
	grid-column: 4/5;
  }
  
  .links ul {
	height: 10rem;
	display: grid;
	grid-template-columns: 3fr repeat(3, 1fr);
	align-items: center;
	justify-content: flex-end;
  }
  
  .links ul li {
	text-align: right;
  }
  
  .links ul li:first-child {
	grid-column: 3/4;
  } */

.links {
	grid-column: 4/5;
	/* justify-content: space-between; */
	/* background-color: aqua; */
	
	/* margin-right: -9rem; */

}
  
.links ul {
	height: 3.9rem;
	display: grid;
	/* justify-content: space-around; */
	grid-template-columns: 4fr repeat(2, 1fr);
	align-items: center;
}
.links ul li {
	text-align: right;
}
.links ul li a {
	color: black;
}
.links ul li a span {
	color: #0000ff;
}
.links ul li:first-child {
	grid-column: 2/3;
	/* text-align: right; */
  }